body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100 !important;
  overflow: hidden;
  margin: 0;
  background-color:black;

  background: url('http://yoannbraie.fr/img/parallax.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container{
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color:black;
}
.device{
  width: 220px;
  height: 450px;
  background-color: #F5F6F8;
  border: 4px solid #D0D2D1;
  margin: auto;
  border-radius: 32px;
  position: relative;
  padding: 15px;
  transition: all .5s;
}
.screen{
  width: 100%;
  position: relative;
  z-index: 2;
}

.top-screen{
  height: 45px;
}

.camera{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: .1vw solid #929292;
  display: block;
  margin-bottom: 5px;
}

.microphone{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #929292;
  display: inline-block;
}

.microphone-bar{
  width: 60px;
  height: 8px;
  border-radius: 5px;
  margin: auto;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #929292;
  display: inline-block;
}

.middle-screen{
  position: relative;
  height: 350px;
  width: 220px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #929292;
  border-radius: 3px;
  background-color: #252525;
  overflow-y: auto;
  text-align: left;
  padding: 40px;
  display: table-cell;
  vertical-align: middle;
}

.interieur{
  height: calc(100% - 38px);
}

.bottom-screen > button{
  padding: 18px;
  border-radius: 50%;
  outline: none;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  background: linear-gradient(135deg, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
}

.exterieur{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.button-shutdown{
  width: 40px;
  height: 3px;
  float: right;
  background-color: #F5F6F8;
  margin-right: 34px;
  transform: translateY(-7px);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.button-vol-mute{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F5F6F8;
  height: 34px;
  width: 4px;
  transform: translateX(-7px) translateY(59px);
}

.button-vol-plus{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F5F6F8;
  height: 24px;
  width: 4px;
  transform: translateX(-7px) translateY(79px);
}

.button-vol-moins{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F5F6F8;
  height: 24px;
  width: 4px;
  transform: translateX(-7px) translateY(90px);
}

.battery{
  background-color: #383C3C;
  height: 50px;
  width: 100%;
  border: 6px solid #383C3C;
  position: relative;
  transform: translateX(-5px);
  transition: all .5s;
}

.battery > span{
  display: block;
  background-color: #383C3C;
  width: 4px;
  height: 60%;
  top: 20%;
  position: absolute;
  right: -10px;
}
.battery > div{
  background-color: transparent;
  width: 0%;
  height: 100%;
}

@keyframes charge {
  0% {
    width: 0%;
    background-color: #E45E5A;
  }
  20%{
    width: 20%;
    background-color: #E45E5A;
  }
  24%{
    width: 24%;
    background-color: #02EF55;
  }
  100% {
    width: 100%;
    background-color: #02EF55;
  }
}

@keyframes decharge {
  0% {
    width: 100%;
    background-color: #02EF55;
  }
  80%{
    width: 24%;
    background-color: #02EF55;
  }
  84%{
    width: 20%;
    background-color: #E45E5A;
  }
  100% {
    width: 0%;
    background-color: #E45E5A;
  }
}

.charge{
  -webkit-animation: charge 1s linear forwards;
  -moz-animation: charge 1s linear forwards;
  -ms-animation: charge 1s linear forwards;
  -o-animation: charge 1s linear forwards;
  animation: charge 1s linear forwards;
}

.decharge{
  -webkit-animation: decharge 3s linear forwards;
  -moz-animation: decharge 3s linear forwards;
  -ms-animation: decharge 3s linear forwards;
  -o-animation: decharge 3s linear forwards;
  animation: decharge 3s linear forwards;
}

.plug{
  background-color: white;
  width: 20px;
  height: calc(100vh - 181px) ;
  z-index: 1;
  position: absolute;
  left: calc(50% - 10px);
  top: 100vh;
  z-index: -1;
  border: 4px solid #D0D2D1;
  transition: all 1s;
}

.plug-active{
  top: calc(50vh + 20px);
}

@media all and (max-width: 1000px) {
  .device{
    transform: scale(.7);
  }

  .plug-active{
    top: calc(50vh + 181px / 2);
  }
}

@media all and (max-height: 500px) {
  .device{
    transform: rotate(90deg) scale(.7);
    position: fixed;
    top: calc(50vh - (180px / 2) - 154px);
    left: calc(50vw - 133px);
  }
  .plug{
    height: 20px;
    width: calc(50vw + 30px) ;
    position: absolute;
    top: calc(50% - 10px);
    left: -100vw;
    z-index: -1;
    border: 4px solid #D0D2D1;
    transition: all 1s;
  }

  .plug-active{
    left: calc(0px - 181px);
  }

  .battery{
    transform: rotate(-90deg);
  }
}
#complete{
  position: relative;
color: white;
bottom: 260px;
z-index: 10;
font-weight: bolder;
}
